@page "/dateMonths/del/{id:int}"
@using StudentRatingBlazor.Models
@using StudentRatingBlazor.Services
@inherits OwningComponentBase<DateMonthsServices>
<h3>Delete</h3>
<p>Deleting...</p>
@code {
    [Inject] NavigationManager navigationManager { get; set; } = null!;
    [Parameter] public int id { get; set; }
    private DateMonth dateMonth = new DateMonth();

    protected override async Task OnParametersSetAsync()
    {
        if (id > 0)
        {
            dateMonth = await Service.GetDateMonth(id);
            await Service.DeleteDateMonth(dateMonth);
        }
        navigationManager.NavigateTo("/dateMonths");
    }
}
